$black: #000000;
$white: #FFFFFF;
$amber500: #FFC107;
$amber600: #FFB300;
$blue-gray500: #607D8B;
$blue-gray600: #546E7A;
$blue-gray800: #37474F;
$gray200: #EEEEEE;
$gray600: #757575;
$gray800: #424242;
$gray900: #212121;
$indigo200: #9FA8DA;
$indigo300: #7986CB;
$indigo600: #3949AB;
$red400: #EF5350;
$red500: #F44336;
$red600: #E53935;
