/* main import block start */
@import 'font';
@import 'src/style/normalize';
@import 'src/style/color';
@import 'src/style/flexbin';

/* main import block end */

.Main {
  font-family: Roboto-Medium, sans-serif;
  color: $indigo300;
}

.Main-Test {
  font-family: Stick, sans-serif;
  color: $red500;
}