@font-face {
  font-family: 'Roboto-Medium';
  src: url('../public/font/Roboto-Medium.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Stick';
  src: url('../public/font/StickNoBills-Medium.otf');
  font-weight: normal;
}
